## String Formation

In [19]:
name="Muhammad \"S\"aadi"
print(name)
fname='A/nis;'
print(fname)

Muhammad "S"aadi
A/nis;

In [21]:
card= """
NED University
Batch-3

Name: Saadi
fname:Anis
Age:23
Education:BS
"""
card
#\n means line changed.

'\nNED University\nBatch-3\n\nName: Saadi\nfname:Anis\nAge:23\nEducation:BS\n'

In [23]:
print(card)

NED University
Batch-3

Name: Saadi
fname:Anis
Age:23
Education:BS

In [35]:
#When you merge/concetenate two variable the rule is that the left and right side must be of same type or else we will have to do type casting

In [27]:
name="Saadi"
roll_no=17110

In [29]:
"Student Name:" + name +"\n Roll No:" + roll_no

#roll no is int that is why it is not merging here.

TypeError: can only concatenate str (not "int") to str

In [31]:
"Student Name:" + name +"\n Roll No:" + str(roll_no)

'Student Name:Saadi\n Roll No:17110'

In [33]:
print("Student Name:" + name +"\n Roll No:" + str(roll_no))

Student Name:Saadi
 Roll No:17110

In [37]:
name="saadi"
fname="Anis"
age=23
education="BS"

In [41]:
card=f"""
NED University
Batch-3

Name: {name}
fname:{fname}
Age:{age}
Education:{education}
"""
print(card)

NED University
Batch-3

Name: saadi
fname:Anis
Age:23
Education:BS

In [45]:
def id_card(name,fname,age,education):
    card=f"""
NED University
Batch-3

Name: {name}
fname:{fname}
Age:{age}
Education:{education}
"""
    return(card)

print(id_card("Saadi","Anis",23,"BS"))

NED University
Batch-3

Name: Saadi
fname:Anis
Age:23
Education:BS

In [53]:
print(id_card("25","Hadi","MS",25))
# Here you can see I have mistakenly putted the wrong value in wrong variable and therefore function prints wrong values.

NED University
Batch-3

Name: 25
fname:Hadi
Age:MS
Education:25

In [57]:
print(id_card(fname="Anis",name="Hadi",education="MS",age=25))
#Here we have defined the variables so the problem above of putting values in wrong variable doesn't arises.

NED University
Batch-3

Name: Hadi
fname:Anis
Age:25
Education:MS

In [49]:
"name:" + str(123)

'name:123'

In [59]:
a,b,c=[1,2,3] #unzip
print(a)
print(b)
print(c)

1
2
3

In [69]:
s1={"education": "MSDS",
    "name": "Saadi",
    "fname": "Anis",
    "age":23}
print(id_card(**s1))

# You can call the key values of dictionary using ** but the only condition is that the key name should be exactly same as the arguments given in the function.
print(id_card(name="Haider", fname="Haroon", age=23,education= "MS"))
# You can do this or you can even pass index value for any variable in the arguments.

NED University
Batch-3

Name: Saadi
fname:Anis
Age:23
Education:MSDS


NED University
Batch-3

Name: Haider
fname:Haroon
Age:23
Education:MS

In [77]:
a=["Ali","Haroon",29,"BS"]
print(id_card(a[0],a[1],a[2],a[3]))
# You can even call the index values like here.

NED University
Batch-3

Name: Ali
fname:Haroon
Age:29
Education:BS

In [79]:
s2=["Ali","Jawed",32,"MBBS"]
print(id_card(*s2))
# Single * takes out values from list and double * takes out key values from dictionary provided that key name must be exactly same as name of function arguments.

NED University
Batch-3

Name: Ali
fname:Jawed
Age:32
Education:MBBS

In [85]:
def my_num(num1,num2,*num):
    print(num1,num2,num)

my_num(100,200,1,2,3,4,5)
# Putting single * will make the values tupal but remember that num is nothing but just the body of function. You can't have these tupal data outside function to perform other functions/operations on it.

100 200 (1, 2, 3, 4, 5)

In [99]:
def my_sum(num1,num2,**num):
    print(num1,num2,num)

my_sum(100,200, num3=1, num4=2, num5=3)

100 200 {'num3': 1, 'num4': 2, 'num5': 3}

In [101]:
def my_num(num1,num2,*num):
    print(num1,num2,num)
    print(num1+num2+sum(num))

my_num(100,200,1,2,3,4,5)

100 200 (1, 2, 3, 4, 5)
315

In [109]:
def my_sum(num1,num2,*num):
    print(num1+num2)
    output=num1+num2
    for n in num:
        output+=n
    return(output)

my_sum(100,200,1,2,3,4,5) # this is return function and can be stored in a variable as can be seen below.

300

315

In [105]:
a=my_sum(200,300,50,75,100)
print(a)

500
725

In [117]:
def my_sum(num1,num2,**num):
    #rint(num1+num2)
    output=num1+num2
    for n in num.values():
        if type(n) is type(1):
            output+=n
            
    return(output)

my_sum(100,200, num3=1,num4=2,num5=3,num6=4,num7=5,num8="abc")

315

In [135]:
data=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]

def add_num(num1,num2,*num):
    return(num1+num2+sum(num))

for row in data:
    print(row)
    print(add_num(*row))

[1, 2, 3, 4]
10
[5, 6, 7, 8]
26
[9, 10, 11, 12]
42

In [139]:
for row in data:
    print(add_num(*row))

# Here see line by line first list 1 will go in row and it's sum will be prited through function then loop will run again and list 2 will go in row and so on until number of lists finsihes in data variable.

10
26
42

In [141]:
def my_range(s,e):
    for i in range(s,e+1):
        print(i)
my_range(1,5)
# e+1 is used because we want the last value included as well.

1
2
3
4
5

In [143]:
# Generator function runs one by one using next keyword.

In [169]:
def my_range(s,e):
    for i in range(s,e+1):
        yield(i) # Instead of return we use yield key word in generator function.
a=my_range(1,5)
print(a)
print(next(a)) # We use next keyword to generate values one by one.
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a)) # It will print till 5 only.

<generator object my_range at 0x000002057B37EF80>
1
2
3
4
5

StopIteration:

In [ ]:
# recursive function calls itself in its body. It works like a loop.

In [185]:
def abc(n):
    if n==0:
        return n # this is important otherwise recursive function since it is like a loop will keep running so it is important to make it stop. We can't use break here since break and continue are only keywords to stop loop not functions.
    return n+abc(n-1)
    # see that here first 5+(5-1)+(4-1)+....(2-1)+(1-1)

abc(5)
#[5,4,3,2,1]

15

In [187]:
# Lamba function: No name function, one line function and will not be used before and after.

In [201]:
#def abc(num1,num2):
#    return(num1+num2) I will convert this function into lambda function.

a=lambda num1,num2:num1+num2 # no function name, no return keyword, single line function.
a(7,8) # this function will not be stored on backend and will be runned here only when you run it.

15

In [197]:
a(7,8)

15

In [225]:
# lambda function is used in different roles.

In [209]:
data=[[1,"Z"],
      [2,"Y"],
      [3,"X"]]
data.sort(key=lambda x:x[1]) # Data sorted based on index value of [1] so sorting based on x,y,z.
data

[[3, 'X'], [2, 'Y'], [1, 'Z']]

In [215]:
data=[[1,"Z"],
      [2,"Y"],
      [3,"X"]]
data.sort(key=lambda x:x[0],reverse=True)
data

[[3, 'X'], [2, 'Y'], [1, 'Z']]

In [223]:
list=[("candy",1),("baby",2),("apple",3)]
list.sort(key=lambda x:x[0],reverse=False)
list

[('apple', 3), ('baby', 2), ('candy', 1)]

In [15]:
l = [1, 2, 3, 4]

result = list(map(lambda x: x + 5, l))
print(result)

# map is an iterable function. That means if you have to  pass a list as an argument in a function then you will always have to use map but remember that since map is iterable function you will get the result when you use list function with map function to print the values.

[6, 7, 8, 9]

In [13]:
k=[5,6,7,8]

def abc(x):
    return x+5

a=list(map(abc,k)) # map function being used to pass list as argument in function and it is used with list function.
a
#map function wants a function from you and is an iteration which means it unpacks the list and then put in values from list one by one in the function to give result.

[10, 11, 12, 13]

In [29]:
j=[7,8,9,10]

def abc(x):
    return x+5
for i in j:
    print(abc(i))
# You can use for loop for iteration i.e unpacking the list as well. Loop and functions are not runned toghether which is why we first wrote function and used for loop to unpack list and then run the function with unpacked list.

12
13
14
15

In [33]:
k=[1,2,3,4]
a=lambda x:x+5
for i in k:
    print(a(i))

6
7
8
9

In [35]:
#filter function is another iteration function.

In [37]:
l=[20,27,30,50]

def abc(x):
    if x%2==0:
        return x
list(filter(abc,l))

[20, 30, 50]

In [73]:
data=[{"name":"saadi","fname":"Anis","age":23},{"name":"osama","fname":"saeed","age":21},{"name":"emmad","fname":"sherry","age":27}]

def id_card(name,fname,age):
    card=f"""
    Name:{name}
    Father Name:{fname}
    Age:{age}
    """
    return (card)

for i in data:
    print(id_card(**i))

    Name:saadi
    Father Name:Anis
    Age:23


    Name:osama
    Father Name:saeed
    Age:21


    Name:emmad
    Father Name:sherry
    Age:27

In [93]:
data=[{"name":"saadi","fname":"Anis","age":23},{"name":"osama","fname":"saeed","age":21},{"name":"emmad","fname":"sherry","age":27}]
def id_card(name,fname,age):
    card=f"""
    Name:{name}
    Father Name:{fname}
    Age:{age}
    """
    return (card)

a=list(map(lambda b:id_card(b["name"],b["fname"],b["age"]),data))
print("".join(a))

# Used chat gpt for this one.

    Name:saadi
    Father Name:Anis
    Age:23

    Name:osama
    Father Name:saeed
    Age:21

    Name:emmad
    Father Name:sherry
    Age:27